body,html
{
	height: 100%;
}

th,td, td input, td select, label
{
	font-size: 80% !important;
}

th,td, td input
{
	vertical-align: middle !important;
	padding-top: 0.25em !important;
	padding-bottom: 0.25em !important;
}

#importFile .modal-dialog {
	max-width: 700px;
}

.nav-item.active
{
	font-weight: bold;
}
.navbar-toggler
{
	border: none;
}

.card-button
{
	color: inherit;
	text-decoration: none;
}
.card-button:hover
{
	color: inherit;
	text-decoration: none;
}
.card-button:hover .card
{
	box-shadow: 4px 3px 8px 1px #969696;
	-webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.card-button:visited
{
	color: inherit;
	text-decoration: none;
}