<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragment/layout :: header" />
<title>Extrack</title>
</head>
<body>
	<th:block th:replace="fragment/navbar :: navbar" />

	<div class="container-fluid">
		<div class="row m-0 justify-content-sm-center">
			<div class="col-lg-3 col-md-4 col-sm-7 mt-4">
				<a class="card-button" href="#">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Dashboard</h5>
							<p class="card-text text-primary"><i class="fas fa-chart-bar fa-7x"></i></p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-7 mt-4">
				<a class="card-button" th:href="@{transactions/overview}">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Transacties</h5>
							<p class="card-text text-primary"><i class="fas fa-money-bill fa-7x"></i></p>
						</div>
					</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-7 mt-4">
				<a class="card-button" th:href="@{imports/overview}">
					<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Importeren</h5>
							<p class="card-text text-primary"><i class="fas fa-upload fa-7x"></i></p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>

<script>
</script>
</body>
</html>