<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragment/layout :: header" />
<title>Extrack</title>
</head>
<body>
	<th:block th:replace="fragment/navbar :: navbar" />
	<div id="modalWrapper"></div>

	<div class="container-fluid">
		<div class="alert alert-success mt-2" th:if="${message}" th:text="${message}"></div>
		<div class="alert alert-danger mt-2" th:if="${error}" th:text="${error}"></div>
		<div class="row mt-4">
			<div class="col-9">
				<h4>Overzicht betaalbestanden</h4>
			</div>
			<div class="col-3">
				<button type="button" class="btn btn-sm btn-primary float-right" th:onclick="'openModal(\'\', \'' + @{/settings/accounts/add} + '\', \'addAccountModal\');'">
					<i class="fas fa-file-import mr-2"></i>Rekening toevoegen
				</button>
			</div>
		</div>
		<div class="row mt-4">
			<div class="col-12">
				<table class="table">
					<thead>
						<tr>
							<th>IBAN</th>
							<th>Naam rekening</th>
							<th>BIC</th>
							<th>Valuta</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="account : ${accounts}">
							<td th:text="${account.iban}">IBAN</td>
							<td th:text="${account.description}">Naam</td>
							<td th:text="${account.bic}">BIC</td>
							<td th:text="${account.currency}">Valuta</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>